#content{
    background:rgba(0,127,127, 0.25);
    height:100%;
    margin:0px 300px;
    padding:50px 100px;
}
#navheader{
    padding:0px 300px;
}
.sectiontitle{
    text-align:center;
    margin:50px;
}
.sectionlink{
    padding:5px;
    color:black;
    text-decoration:none;
}
.sectionlink:hover{
    color:gray;
    text-decoration:none;
}
.sectionlink:active{
    color:white;
    text-decoration:none;
}
.specialtitle{
    padding:5px;
    color:black;
    text-decoration:none;
}
.textlink{
    color:gray;
    text-decoration:none;
}
.textlink:hover{
    color:white;
    text-decoration:none;
}
.textlink:active{
    color:black;
    text-decoration:none;
}